<div class="container mt-5">
  <div class="row">

    <% if current_user.categories.count == 0 %>
      <div class="col-md-12 d-flex flex-column justify-content-center">
        <div class="bg-green-2 py-4 pl-5">
          <p class="font-primary dashboard-p-2"><i class="fa fa-calendar"></i> <%= @today %></p>
          <h1 class="font-green">Welcome, <%= current_user.first_name %></h1>
          <p class="font-primary dashboard-p mb-0">You have <strong>0</strong> tasks and categories.</p>
        </div>
      </div>

      <div class="col-md-4 offset-md-4">
        <%= image_tag("Love is in the air-pana.png", :alt => "No tasks available", class: "w-100") %>
        <p class="card-text text-center"><button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModalScrollable5">+ Create new category</button></p>
      </div>
    <% else %>
      <div class="col-md-8 d-flex flex-column justify-content-center">
        <div class="bg-green-2 py-4 pl-5">
          <p class="font-primary dashboard-p-2"><i class="fa fa-calendar"></i> <%= @today %></p>
          <h1 class="font-green">Welcome, <%= current_user.first_name %></h1>
          <p class="font-primary dashboard-p mb-0">You have <strong><%= @tasks.where(deadline: DateTime.current.beginning_of_day).count %></strong> out of <strong><%= @tasks.count %></strong> tasks that are due today.</p>
          <p class="font-primary dashboard-p mt-0">You have <strong><%= current_user.categories.count %></strong> categor<%= current_user.categories.count > 1 ? 'ies.' : 'y.' %> <strong><%= @overdue.count %></strong> overdue tasks.</p>
          <!-- add task button -->
          <p class="card-text mb-0"><button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModalScrollable5">+ Create new category</button></p>
        </div>
      </div>

      <div class="col-md-4 d-flex flex-column justify-content-center">
        <%= image_tag("Work in progress-pana.png", :alt => "Organize your life", class: "w-100") %>
      </div>

      <!-- table -->
      <% if current_user.tasks.count > 0 %>
        <div class="container mt-4">
          <table class="table table-fixed">
            <thead>
              <tr>
                <th scope="col">Task</th>
                <th scope="col">Description</th>
                <th scope="col">Deadline</th>
                <th scope="col">Status</th>
                <th scope="col">Category</th>
              </tr>
            </thead>
            <tbody>
              <% @tasks.order(deadline: :asc).each do |task| %>
                <tr class="<%= 'bg-green-2-table' if task.deadline.beginning_of_day == DateTime.current.beginning_of_day %>">
                  <th scope="row"><%= task.title %></th>
                  <td><%= task.description %></td>

                  <th scope="row"><span class="<%= 'text-danger' if task.deadline.beginning_of_day == DateTime.current.beginning_of_day %>"><%= task.deadline.strftime("%B %-d, %Y") %></span></th>

                  <th scope="row">
                    <% if task.status == 'completed' %>
                      <span class="text-success"><%= task.status.capitalize() %></span>
                    <% else %>
                      <span class="text-warning"><%= task.status.sub('_', ' ').capitalize() %></span>
                    <% end %>
                  </th>
                  <th scope="row"><%= link_to task.category.title, category_path(task.category), class: "btn btn-outline-primary" %></th>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    <% end %>    

    

    <!-- create category Modal -->
    <div class="modal fade" id="exampleModalScrollable5" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalScrollableTitle5" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title devise-headings" id="exampleModalScrollableTitle5">Add a category</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% if flash[:task_error] %>
              <ul>
                <% flash[:task_error].each do |error| %>
                  <li class="text-danger"><%= error %></li>
                <% end %>
              </ul>
            <% end %>

            <%= form_with scope: :category, model: current_user.categories.build do |form| %>
              <div class="form-group">
                <%= form.label :title, class: "devise-headings" %>
                <%= form.text_field :title, class: "form-control" %>
              </div>

              <%= form.submit class: "btn btn-outline-success w-100" %>
            <% end %>
          </div>
        </div>
      </div>
    </div> <!-- create category modal -->
  </div> <!-- row -->
</div> <!-- container -->
