<div class="container mt-5">
  <div class="row">

    <% if current_user.tasks.in_progress.count == 0 %>
      <div class="col-md-12 d-flex flex-column justify-content-center">
        <div class="bg-green-2 py-4 pl-5 pr-5">
          <p class="font-primary dashboard-p-2"><i class="fa fa-calendar"></i> <%= @today %></p>
          <h1 class="font-green"><%= t('dashboard.welcome') %>, <%= current_user.first_name %></h1>
          <p class="font-primary dashboard-p mb-0"><%= t('phrases.you_have') %> <strong><%= current_user.tasks.in_progress.count  %></strong> <%= t('phrases.pending_tasks_and') %> <strong><%= current_user.categories.count  %></strong> <%= t('phrases.categories') %></p>
        </div>
      </div>

      <div class="col-md-4 offset-md-4">
        <%= image_tag("Love is in the air-pana.png", :alt => "No tasks available", class: "w-100") %>
        <p class="card-text text-center"><button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModalScrollable5"><%= t('dashboard.new_category_btn') %></button></p>
      </div>
    <% else %>
      <div class="col-md-8 d-flex flex-column justify-content-center">
        <div class="bg-green-2 py-4 pl-5 pr-5">
          <p class="font-primary dashboard-p-2"><i class="fa fa-calendar"></i> <%= @today %></p>
          <h1 class="font-green"><%= t('dashboard.welcome') %>, <%= current_user.first_name %></h1>          
          <p class="font-primary dashboard-p mb-0"><%= t('phrases.you_have') %> <strong class="text-danger"><%= @tasks.where(deadline: DateTime.current.beginning_of_day).count %></strong> <%= t('phrases.out_of') %> <strong><%= @tasks.count %></strong> <%= t('phrases.ongoing') %> <%= @tasks.count > 1 ? t('phrases.tasks') : t('phrases.task') %> <%= t('phrases.that') %> <%= @tasks.count > 1 ? t('phrases.are') : t('phrases.is') %> <%= t('phrases.due_today') %></p>

          <p class="font-primary dashboard-p mb-0"><strong><%= @completed_tasks.count %></strong> <%= t('phrases.completed') %> <%= @completed_tasks.count > 1 ? t('phrases.tasks') : t('phrases.task') %>. <strong class="text-success"><%= (((@completed_tasks.count).to_f / (@total_tasks.count).to_f) * 100).ceil %>%</strong> <%= t('phrases.out_of') %> <strong><%= @total_tasks.count %></strong> <%= t('phrases.total') %> <%= @total_tasks.count > 1 ? t('phrases.tasks') : t('phrases.task') %>.</p>

          <p class="font-primary dashboard-p mt-0"><%= t('phrases.you_have') %> <strong><%= current_user.categories.count %></strong> <%= current_user.categories.count > 1 ? t('phrases.categories') : t('phrases.category') %> <strong><%= @overdue.count %></strong> <%= t('phrases.overdue_tasks') %></p>

          <!-- add task button -->
          <p class="card-text mb-0"><button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModalScrollable5"><%= t('dashboard.new_category_btn') %></button></p>
        </div>
      </div>

      <div class="col-md-4 d-flex flex-column justify-content-center">
        <%= image_tag("Work in progress-pana.png", :alt => "Organize your life", class: "w-100") %>
      </div>

      <!-- table -->
      <% if current_user.tasks.count > 0 %>
        <div class="container mt-4">
          <table class="table table-fixed">
            <thead>
              <tr>
                <th scope="col"><%= t('table.task') %></th>
                <th scope="col"><%= t('table.description') %></th>
                <th scope="col"><%= t('table.deadline') %></th>
                <th scope="col"><%= t('table.status') %></th>
                <th scope="col"><%= t('table.category') %></th>
              </tr>
            </thead>
            <tbody>
              <% @tasks.order(deadline: :asc).each do |task| %>
                <tr class="<%= 'bg-green-2-table' if task.deadline.beginning_of_day == DateTime.current.beginning_of_day %>">
                  <th scope="row"><%= task.title %></th>
                  <td><%= task.description %></td>

                  <th scope="row"><span class="<%= 'text-danger' if task.deadline.beginning_of_day == DateTime.current.beginning_of_day %>"><%= task.deadline.beginning_of_day == DateTime.current.beginning_of_day ? t('dashboard.due_today') : I18n.l(task.deadline, format: "%B %-d, %Y") %></span></th>
                  
                  <th scope="row">
                    <% if task.status == 'completed' %>
                      <span class="text-success"><%= task.status.capitalize() %></span>
                    <% else %>
                      <span class="text-warning"><%= task.status.sub('_', ' ').capitalize() %></span>
                    <% end %>
                  </th>
                  <th scope="row"><%= link_to task.category.title, category_path(task.category), class: "btn btn-outline-primary" %></th>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %> <!-- task count condition -->
    <% end %> <!-- in-progress condition -->

    <!-- create category Modal -->
    <div class="modal fade" id="exampleModalScrollable5" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalScrollableTitle5" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title devise-headings" id="exampleModalScrollableTitle5"><%= t('phrases.add_a_category') %></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% if flash[:task_error] %>
              <ul>
                <% flash[:task_error].each do |error| %>
                  <li class="text-danger"><%= error %></li>
                <% end %>
              </ul>
            <% end %>
            <%= form_with scope: :category, model: current_user.categories.build do |form| %>
              <div class="form-group">
                <%= form.label :title, class: "devise-headings" %>
                <%= form.text_field :title, class: "form-control" %>
              </div>

              <%= form.submit t('phrases.create_category'), class: "btn btn-outline-success w-100" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- create category modal -->
  </div>
   <!-- row -->
</div>
 <!-- container -->

 <!-- task reminder category Modal -->
<div class="modal fade" id="exampleModalScrollable100" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalScrollableTitle100" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pop-up py-3">
      <div class="modal-body">
        <h1 class="font-green text-center"><%= t('dashboard.hi') %> <%= current_user.first_name %>!</h1>
        <% if @tasks.where(deadline: DateTime.current.beginning_of_day).count > 0 %>
          <%= image_tag("Add tasks-amico.png", :alt => "No tasks available", class: "w-100") %>
          <p class="font-primary dashboard-p mb-0 text-center"><%= t('phrases.you_have') %> <strong id="task-count"><%= @tasks.where(deadline: DateTime.current.beginning_of_day).count %></strong>  <%= @tasks.where(deadline: DateTime.current.beginning_of_day).count > 1 ? t('phrases.tasks') : t('phrases.task') %> <%= t('phrases.that') %> <%= @tasks.where(deadline: DateTime.current.beginning_of_day).count > 1 ? t('phrases.are') : t('phrases.is') %> <strong><%= t('phrases.due') %></strong> <%= t('phrases.today') %>!</p>
        <% else %>
          <%= image_tag("Training at home-bro.png", :alt => "No tasks available", class: "w-100") %>
          <p class="font-primary dashboard-p mb-0 text-center"><%= t('phrases.no_pending_tasks_for_today') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
