<h1>Dummy page</h1>
<%= @all_tasks.count %>
<%= current_user.email %>
<br/>

<%= @all_tasks %>
<%= @tasks %>
<%= @category.title %>
<%= @category.id %>

<% @all_tasks.each do |a| %>
    <p><%= a.id %></p>
<% end %>