<h1>Dummy page</h1>
<%= @all_tasks.count %>
<%= current_user.email %>
<%= current_user.tasks.in_progress.count %>
<br/>

<% current_user.tasks.each do |task| %>
    <p><%= task.title %></p>
    <p><%= task.description %></p>
    <p><%= task.deadline %></p>
<% end %>