<% content_for :title do %>
  <title>Welcome</title>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
      <h1 class="font-primary primary-h1 text-center mb-3"><%= t('home_page.heading') %></h1>
      <h5 class="font-primary text-center mb-3 primary-p"><%= t('home_page.p_1') %></h5>
    </div>
    <div class="col-md-6">
      <%= image_tag("Online world-bro.png", :alt => "Organize your life", class: "w-100") %>
    </div>
  </div>
  <p class="text-center">
    <%= link_to t('home_page.cta'), new_user_registration_path, class: "btn btn-primary btn-lg main-btn mb-4" %>
  </p>
</div>

<div class="bg-white content-wrap">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-4">
        <p class="text-center"><i style="font-size: 61px;" class="fa fa-address-card"></i></p>
        <h3 class="mb-3 three-col-heading text-center"><%= t('home_page.h2_headings.first') %></h3>

      <p class="font-light-gray text-center col-p"><%= t('home_page.landing_page_p.first') %></p>
    </div>

    <div class="col-md-4">
      <p class="text-center"><i style="font-size: 61px;" class="fa fa-list"></i></p>
      <h3 class="mb-3 three-col-heading text-center"><%= t('home_page.h2_headings.second') %></h3>

      <p class="font-light-gray text-center col-p"><%= t('home_page.landing_page_p.second') %></p>
    </div>

    <div class="col-md-4">
      <p class="text-center"><i style="font-size: 61px;" class="fa fa-heartbeat"></i></p>
      <h3 class="mb-3 three-col-heading text-center"><%= t('home_page.h2_headings.third') %></h3>

      <p class="font-light-gray text-center col-p"><%= t('home_page.landing_page_p.third') %></p>
    </div>
  </div>
</div>
</div>
