<h1 class="text-center mt-5">Edit a post</h1>

<%= form_with model: @category do |form| %>
    <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
    </div>

    <%= form.submit %>
<% end %>

<%= link_to "go back", @category %>