<h1 class="text-center my-4 dark-font display-4 font-weight-bold">Categories</h1>

<div class="bg-green">
    <div class="container">
        <div class="row pb-4">
            <% @categories.each do |category| %>
                <div class="col-sm-3">
                    <div class="card mt-4">
                        <div class="card-body">
                            <h4 class="card-title text-center green-font"><%= link_to category.title, category_path(category)  %></h4>

                            <% if category.tasks.count > 0 %>
                                <p class="card-text text-center">Tasks: <%= category.tasks.count %></p>

                                <p class="card-text text-center">Completed tasks: <%= category.tasks.where(status: 'completed').count %> of <%= category.tasks.count %></p>
                                
                                <p class="card-text text-center"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalScrollable<%= category.id %>">Add a task</button></p>
                            <% else %>
                                <p class="card-text text-center">No tasks</p>
                                <p class="card-text text-center"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalScrollable<%= category.id %>">Add a task</button></p>
                            <% end %>

                            <p class="card-text text-center"><%= link_to category, method: :delete, data: { confirm: 'Are you sure?' } do %>Delete<% end %></p>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalScrollable<%= category.id %>" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalScrollableTitle<%= category.id %>" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalScrollableTitle<%= category.id %>">Add a task for <%= category.title %></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <%= form_with scope: :task, model: category.tasks.build , local: true do |form| %>
                                    <%= hidden_field_tag :category_id, category.id %>
                                    
                                    <div class="form-group">
                                        <%= form.text_field :title, placeholder: "Title", class: "form-control" %>
                                    </div>

                                    <div class="form-group">
                                        <p><%= form.text_area :description, placeholder: "Description", class: "form-control", rows: 10 %></p>
                                    </div>

                                    <div class="form-group">
                                        <p><%= form.date_field :deadline, class: "form-control" %></p>
                                    </div> 

                                    <div class="form-group">
                                        <p><%= form.select :status, Task.statuses.keys, {}, { :class => 'form-control' } %></p>
                                    </div>

                                    <%= form.submit class: "btn btn-dark" %>
                                <% end %>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- modal -->
            <% end %> <!-- categories loop -->

            <div class="col-sm-3">
                <div class="card create-card mt-4">
                    <div class="card-body">
                        <p class="card-text text-center"><button type="button" class="btn btn-link btn-create" data-toggle="modal" data-target="#exampleModalScrollable">Add a category</button></p>
                    </div>
                </div>                
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">Add a category</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <%= form_with scope: :category, model: @categories.build do |form| %>
                                <div class="form-group">
                                    <%= form.label :title %>
                                    <%= form.text_field :title, class: "form-control" %>
                                </div>

                                <%= form.submit class: "btn btn-danger" %>
                            <% end %>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> <!-- modal -->
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- bg-green -->