<h1 class="text-center mt-5">Create a post</h1>

<%= form_with model: @category do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <%= form.submit %>
<% end %>

<%= link_to "go back", categories_path %>