<p class="text-center"><button type="button" class="btn btn-link mb-0 show-button" data-toggle="modal" data-target="#exampleModalScrollable">
    <h1 class="mt-4 display-4 font-weight-bold"><%= @category.id %> <%= @category.title %></h1>
  </button></p>

<p class="text-center">Created: <%= @category.created_at %> | Tasks: <%= @category.tasks.count %> | Completed: <%= @category.tasks.where(status: 'completed').count %></p>

<!-- edit modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Edit <%= @category.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model: @category do |form| %>
          <div class="form-group">
            <%= form.label :title %>
            <%= form.text_field :title, class: "form-control" %>
          </div>

          <%= form.submit %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 <!-- modal -->
<!-- end modal -->

<p class="text-center show-options">
  <%= link_to "Go back", categories_path, class: "edit-category" %> |
  <%= link_to @category, method: :delete, data: { confirm: 'Are you sure?' }, class: "edit-category" do %>Delete<% end %>
</p>

<div class="bg-dark py-3">
  <h4 class="text-center font-secondary">On-going tasks</h4>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Deadline</th>
        <th scope="col">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @category.tasks.each do |c| %>
        <tr>
          <th scope="row"><%= c.title %></th>
          <td><%= c.description %></td>
          <td><%= c.deadline %></td>
          <td><%= c.status %></td>
          <td class="px-4"><button type="button" class="btn btn-primary w-100">Edit task</button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
